body {
    margin: 0;
    background-color: azure;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(63, 218, 135);
}
header {
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
footer {
    background-color: rgb(202, 234, 45);
    color: rgb(11, 10, 18);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
}

nav {
    width: 20%;
    float: left;
}

#content {
    width: 78%;
    float: right;
    padding: 0 1%;
}

#home {
    text-align: center;
    padding-top: 40px;
}

.cb {
    clear: both;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav ul li {
   text-align: center;
   color: rgb(16, 10, 83);
   font-weight: bold;
   padding: 18px 0;
   border-radius: 20px;
   border: solid 2px rgb(9, 9, 19);
   background-color: rgb(146, 213, 236);
}
nav ul li:hover {
    color:  rgb(216, 213, 247);
    background-color: rgb(16, 10, 83);
}
.txt-center {
    text-align: center;
}
.tag {
    color: red;
    font-size: 24px;
    font-weight: bold;
}
.txt-azul {
    color: blue;
}
.caja {
    width: 200px;
    height: 100px;
    background-color: rgb(93, 93, 192);
}

ul.customdesorden li {
    list-style-type: square; 
 }
 ul.customdesorden li li {
     list-style-type: disc; 
 }
 ul.customdesorden li li li {
     list-style-type: circle; 
 }
 /*---------------------------------------*/
 ol.customorden li {
    list-style-type: upper-alpha; 
 }
 ol.customorden li li {
     list-style-type: lower-roman; 
 }
 ol.customorden li li li {
     list-style-type: decimal; 
 }
 /*---------------------------------------*/
 ol.customimg li li {
     list-style-image: url(../img/heart.png);
 }
 ol.customimg li li li{
     list-style-image: none;
     list-style-type: upper-alpha;
 }
 dt {
     font-weight: bold;
     color: blue;
     font-size: 30px;
 }
 table.theader th{
    background-color: rgb(12, 12, 86);
    color: aqua;
    font-size: 24px;
 }
 table.theader td{
    background-color:aqua;
    color: rgb(12, 12, 86); 
 }
 table.striped tr:nth-child(even){
    background-color: rgb(115, 237, 135);

 }
 table.striped tr:nth-child(odd){
    background-color: rgba(65, 65, 237, 0.699);
    
}
.personalizada1 th{
    color: rgb(2, 100, 2);
    background-color: white;
}
.personalizada2 td{
    background-color:orange;
}
.BDD{
    background-color: rgb(104, 203, 237);
}
.PROG{
    background-color: orange;
}
.SISI{
    background-color: green;
}
.LMSG{
    background-color: blue;
}
.FOL{
    background-color: rgb(204, 169, 180);
}
.ING{
    background-color: lightgreen;
}
.ENDE{
    background-color: rgb(241, 88, 88);
}
form.registro{
    width: 50%;
    background-color: azure;
    padding: 10px;
}
.w-100{
    width: 99%;
}
.w-50{
    width: 49%;
    margin: 0;
}
#formhtml5 form{
    width: 50%;
    margin: 0 auto;
}
#textRango{
    width: 5%;
    text-align: center;
}

